{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BakeHouse</title>

    <!-- css -->
    <!-- <link rel="stylesheet" href="./style.css" /> -->
    <link rel="stylesheet" type="text/css" href=" {% static '.\style.css' %} ">

    

    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- logo -->
    <section class="bake">
      <section class="logo">
        <div class="navLogo">
          {% comment %} <img src="./images/BAKEHOuSE.png" alt="img" /> {% endcomment %}
          <img src="{% static '.\images\BAKEHOuSE.png' %}" alt="img" />
          <input id="search" type="text" placeholder="search" />
        </div>
      </section>

      <!-- navbar -->
        <navbar class="navBar">
          <div class="nav-links" id="navLinks">
          <ul>
            <li><a id="home" href="#">HOME</a></li>
            <li><a href="#">SHOP</a></li>
            <li><a href="#">MENUS</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
          <div id="explore">
            <a href="login"
              ><button id="Login"><h2>Login</h2></button></a
            >

            <a href="signup"
              ><button id="signUp"><h2>Sign Up</h2></button></a
            >
          </div>
        </div>
      </navbar>

      <!-- signUp Card -->

      <section>
        <div class="cardMain">
          <div class="cardName">
            <h1>Sign Up</h1>
          </div>
          <!-- *** -->
          <div class="cardGreet">
            <h1>Welcome!</h1>
          </div>
          <!-- *** -->
          <form class="cardInfo" method="POST" action='/signup'> {% csrf_token %}
            <label id="fname" for="fname">Username</label>
            {{form.username}} <br />
            {% comment %} <input type="text" id="fname" name="name" /><br /> {% endcomment %}

            <label id="phone" for="phone">Ph.no</label>
            <input
              type="tel"
              id="phone"
              name="phone"
            /><br />

            <label id="email" for="E-mail">E-mail</label>
            {{form.email}}<br />
            {% comment %} <input type="text" id="email" name="email" /><br /> {% endcomment %}

            <label id="pass" for="password">Password</label>
            {{form.password1}}<br />
            {% comment %} <input type="password" id="pass" name="password" required /><br /> {% endcomment %}

            <label id="Create" for="Create">Confirm</label>
            {{form.password2}}<br />
            {% comment %} <input type="password" id="Create" name="password1" required /> {% endcomment %}
            <br />
            {{message}}
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>


            <!-- <div class="button" id="button">
              <h4><a href="" type="submit">Submit</a></h4>
            </div> -->
          </form>
        </div>
      </section>
    </section>
  </body>
</html>
